    /* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'Lato', sans-serif;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-y: auto;
}

main > section.flex{
    margin-top: 4.5rem;
}

section.micro-screen{
    height: 130px;
    width: calc((100% / 7) - 2rem);
    margin: 0.5rem 0.3rem;
    background-image: url(https://fastly.picsum.photos/id/237/232/152.jpg?hmac=weaVwcUBvn_twlyjNFdUw28NafF69yRCy8RCIbFJjxw);
    background-repeat: no-repeat;
}

main section.micro-screen.p-relative{
    position: relative;
}

section.p-relative div{
    position: absolute;
    bottom: .1rem;
}

div.container-info{
    height: 30px;
    width: 120px;
    background-color: rgba(0, 0, 0, .5);
    font-size: 1rem;
    text-align: center;
}

main i{
    font-size: 15px;
}

main > div.p-absolute{
    position: absolute;
    right: 0;
    text-align: center; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}

span.button-top-left{
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: .5rem;
    border-radius: 5px;
    height: 25px;
    width: 120px;
    padding-top: 2px;
}

span.button-top-right{
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: .5rem;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    padding-top: 3px;
}
    /* Header */

header.container {
    height: 88px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    position: fixed;
    bottom: 0;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

header div i{
    font-size: 25px;
    padding: .3rem;
}

header div span{
    display: block; 
    text-align: center;
}

i.icon-optional{
    font-size: 13px;
    margin-left: .5rem;
}

.icon-special{
    color: greenyellow;
}

header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

header button.button-end-meeting{
    background-color: rgb(75, 70, 70);
    color:red;
    height: calc(100% - .5rem);
    margin-bottom: .5rem;
    width: 130px;
    border: none;
}